$shadows: (
  'dark': (
    --dp0: none,
    --dp1: (0px 0.975329px 2.92599px rgba(0, 0, 0, 0.2), 0px 1.95066px 1.95066px rgba(0, 0, 0, 0.12), 0px 0px 1.95066px rgba(0, 0, 0, 0.14)),
    --dp1-left: (0px 0px 1.95066px rgba(0, 0, 0, 0.14)),
    --dp2: (0px 0.975329px 4.87664px rgba(0, 0, 0, 0.2), 0px 2.92599px 3.90132px rgba(0, 0, 0, 0.12), 0px 1.95066px 3.90132px rgba(0, 0, 0, 0.14)),
    --dp3: (0px 0.975329px 7.80263px rgba(0, 0, 0, 0.2), 0px 2.92599px 3.90132px rgba(0, 0, 0, 0.12), 0px 2.92599px 2.92599px rgba(0, 0, 0, 0.14)),
    --dp4: (0px 0.975329px 9.75329px rgba(0, 0, 0, 0.2), 0px 3.90132px 4.87664px rgba(0, 0, 0, 0.12), 0px 1.95066px 3.90132px rgba(0, 0, 0, 0.14)),
    --dp6: (0px 2.92599px 4.87664px rgba(0, 0, 0, 0.2), 0px 0.975329px 17.5559px rgba(0, 0, 0, 0.12), 0px 5.85197px 9.75329px rgba(0, 0, 0, 0.14)),
    --dp8: (0px 3.90132px 4.87664px rgba(0, 0, 0, 0.2), 0px 2.92599px 13.6546px rgba(0, 0, 0, 0.12), 0px 7.80263px 9.75329px rgba(0, 0, 0, 0.14)),
    --dp9: (0px 4.87664px 5.85197px rgba(0, 0, 0, 0.2), 0px 2.92599px 15.6053px rgba(0, 0, 0, 0.12), 0px 8.77796px 11.7039px rgba(0, 0, 0, 0.14)),
    --dp12: (0px 6.8273px 7.80263px rgba(0, 0, 0, 0.2), 0px 4.87664px 21.4572px rgba(0, 0, 0, 0.12), 0px 11.7039px 16.5806px rgba(0, 0, 0, 0.14)),
    --dp16: (0px 7.80263px 9.75329px rgba(0, 0, 0, 0.2), 0px 5.85197px 29.2599px rgba(0, 0, 0, 0.12), 0px 15.6053px 23.4079px rgba(0, 0, 0, 0.14)),
    --dp24: (0px 10.7286px 14.6299px rgba(0, 0, 0, 0.2), 0px 8.77796px 44.8651px rgba(0, 0, 0, 0.12), 0px 23.4079px 37.0625px rgba(0, 0, 0, 0.14))
  ),
  'light': (
    --dp0: none,
    --dp1: (0px 1px 3px rgba(0, 0, 0, 0.15), 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 0px 2px rgba(0, 0, 0, 0.09)),
    --dp1-left: (0px 0px 2px rgba(0, 0, 0, 0.09)),
    --dp2: (0px 1px 5px rgba(0, 0, 0, 0.15), 0px 3px 4px rgba(0, 0, 0, 0.07), 0px 2px 4px rgba(0, 0, 0, 0.09)),
    --dp3: (0px 0.975329px 7.80263px rgba(0, 0, 0, 0.2), 0px 2.92599px 3.90132px rgba(0, 0, 0, 0.12), 0px 2.92599px 2.92599px rgba(0, 0, 0, 0.14)),
    --dp4: (0px 0.975329px 9.75329px rgba(0, 0, 0, 0.2), 0px 3.90132px 4.87664px rgba(0, 0, 0, 0.12), 0px 1.95066px 3.90132px rgba(0, 0, 0, 0.14)),
    --dp6: (0px 2.92599px 4.87664px rgba(0, 0, 0, 0.2), 0px 0.975329px 17.5559px rgba(0, 0, 0, 0.12), 0px 5.85197px 9.75329px rgba(0, 0, 0, 0.14)),
    --dp8: (0px 4px 5px rgba(0, 0, 0, 0.15), 0px 3px 14px rgba(254, 0, 0, 0.07), 0px 8px 10px rgba(0, 0, 0, 0.09)),
    --dp9: (0px 5px 6px rgba(0, 0, 0, 0.2), 0px 3px 16px rgba(0, 0, 0, 0.12), 0px 9px 12px rgba(0, 0, 0, 0.14)),
    --dp12: (0px 6.8273px 7.80263px rgba(0, 0, 0, 0.2), 0px 4.87664px 21.4572px rgba(0, 0, 0, 0.12), 0px 11.7039px 16.5806px rgba(0, 0, 0, 0.14)),
    --dp16: (0px 7.80263px 9.75329px rgba(0, 0, 0, 0.2), 0px 5.85197px 29.2599px rgba(0, 0, 0, 0.12), 0px 15.6053px 23.4079px rgba(0, 0, 0, 0.14)),
    --dp24: (0px 11px 15px rgba(0, 0, 0, 0.15), 0px 9px 46px rgba(0, 0, 0, 0.07), 0px 24px 38px rgba(0, 0, 0, 0.09))
  )
)
